<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Econ Final</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/materia/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SYbiks6VdZNAKT8DNoXQZwXAiuUo5/quw6nMKtFlGO/4WwxW86BSTMtgdzzB9JJl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/fullpage.css" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />

</head>

<body>
    <div id="fullpage">
        <div class="section">
            <div class="bg">
                <div class="caption">
                    <h1>97 Percent:</h1>
                    <h4>The Politics of a Changing Earth</h4>
                </div>
            </div>
        </div>
        <div class="container section">
            <blockquote class="blockquote text-center">
                <h2 class="mb-0">Scientific evidence for warming of the climate system is unequivocal.</h2>
                <footer class="blockquote-footer">Intergovernmental Panel on Climate Change</footer>
            </blockquote>
        </div>
        <div class="section">
            <iframe src="https://climate.nasa.gov/images-of-change?id=682#682-camp-fire-northern-california"
                height="100%" width="95%" style="display: block;"></iframe>
        </div>
        <div class="section">
            <img class="fullimage" src="/images/co2.png" />
        </div>
        <div class="section opaque3">
            <div class="container">
                <h2>Current Political Situation in the United States</h2>
                <p style="line-height: 2; text-shadow: 0px 0px 0.5px #000;">In the United States of America, climate
                    change is a partisan issue. Most Democrats are in support of legislation and regulation that would
                    slow down or eliminate carbon dioxide emissions. Republicans take the opposite view. They insist
                    that climate change is an just a theory, and that scientists are really split on the issue.
                    According to NASA, around 97% of scientists believe that climate change is a real and human created
                    threat. The two party system in the United States causes this to be an extremely contentious issue.
            </div>
        </div>
        <div class="section">
            <div class="bg2">
                <div class="caption">
                    <h1>History of Climate Change Policy</h1>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="video-container"><iframe width="75%" height="40%"
                    src="https://www.youtube.com/embed/m7_6O5Z7_QE?start=312" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div>
        </div>
        <div class="container section">
            <blockquote class="blockquote text-center">
                <h2 class="mb-0">These issues know no ideology, no political boundaries. It’s not a liberal or
                    conservative thing we’re talking about.</h2>
                <footer class="blockquote-footer">George H.W. Bush 1988</footer>
            </blockquote>
        </div>
        <div class="section">
            <img class="fullimage" src="/images/bush.jpg" />
        </div>
        <div class="section opaque">
            <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
                <p style="line-height: 1.75; text-shadow: 0px 0px 0.5px #000;">
                    Both George H.W. Bush and his opponent Michael Dukakis promised to aggressively target global
                    warming issues. At this point, NASA and other institutions had more seriously reported on the
                    severity and certainty of global warming. After winning the presidency, Bush worked with the UN to
                    create the “the United Nations Framework Convention on Climate Change.” Clearly, at this point, the
                    issue was bipartisan. Scientific studies were just starting to capture the public and media’s
                    attention, and politicians on both sides of the aisle decided to address it.
                </p>
            </div>
        </div>
        <div class="section">
            <img class="fullimage" src="/images/exxon.jpg" />
        </div>
        <div class="section opaque2">
            <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
                <p style="line-height: 1.75; text-shadow: 0px 0px 0.5px #000;">
                    Exxon realized early on that reports of climate change could only hurt their business. At first,
                    they were conducting their own climate research into the topic. When they realized the actually
                    severity and connotations of climate findings, they cut their own research in the 80’s. Exxon has
                    had knowledge of climate change since 1977. That is over a decade before it became public in the
                    1988 presidential race. Exxon ran a campaign to hide and deny climate change in order to protect
                    their economic interests. They lobbied politicians extensively and attempted to underplay the
                    results of the accepted scientific findings..
                </p>
            </div>
        </div>
        <div class="section">
            <img class="fullimage" src="/images/algore.jpg" />
        </div>
        <div class="section opaque4">
            <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
                <p style="line-height: 1.75; text-shadow: 0px 0px 0.5px #000;">
                    By the 2000 election, doubt had been successfully spread to the subject of climate change. The
                    Republican Party advertised themselves as the champions of businesses. They used this image to paint
                    Al Gore as an extremist who would hurt the economy with his environmental policy. When George W.
                    Bush took office, he did all he could to shut down new environmental policy. Climate Change was
                    officially politicized and became a partisan issue.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="bg3">
                <div class="caption">
                    <h1>Recent Politics</h1>
                </div>
            </div>
        </div>
        <div class="section">
            <img class="fullimage" src="/images/obama.jpg" />
        </div>
        <div class="section opaque5">
            <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
                <p style="line-height: 1.75; text-shadow: 0px 0px 0.5px #000;">
                    When Obama took office in 2008, he wanted to enact swift and sweeping environmental regulation. At
                    this time, the Tea Party was gaining popularity and opposed any policies supported by Obama
                    vigorously. Democrats in congress decided to focus on easier issues for the time being. By the
                    midterms in 2010, Obama had lost the House, and had little chance of getting legislation through
                    congress. He decided to regulate through the EPA and other agencies. These actions especially
                    angered Republicans and deepened the divide between the two parties. During his time in office,
                    Obama entered the US in the Paris Climate Agreement. The next president, Donald Trump, withdrew the
                    United States from the agreement. Although this was mostly a symbolic move, it showed just how
                    contentious the issue really is.
                </p>
            </div>
        </div>
        <div class="section opaque6">
            <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
                <h2>Solutions and the Future</h2>
                <p style="line-height: 1.75; text-shadow: 0px 0px 0.5px #000;">
                    Solutions to this issue are primarily up to the voters. Voters choose to elect politicians who deny
                    and prevent meaningful action on climate change. Decisions such as Citizens United as need to be
                    overturned in order to ensure honesty and to prevent the massive influence that big business has
                    over politicians. The problem with current United States politics is that they naturally become
                    partisan due to the two party system. One party chooses to support and issue, and the other takes
                    the other side. There are truly very few issues today that are bipartisan. I believe that climate
                    change and preserving our earth for future generations should be an issue that all Americans agree
                    on. The current administration has chosen to take America off the world stage as a leader in climate
                    change reform.

                </p>
            </div>
        </div>
        <div class="section opaque7">
            <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
                <h2>Works Consulted</h2>
                <p style="line-height: 1.75; text-shadow: 0px 0px 0.5px #000;">
                    http://time.com/4874888/climate-change-politics-history/<br>
                    http://oxfordre.com/climatescience/view/10.1093/acrefore/9780190228620.001.0001/acrefore-9780190228620-e-642<br>
                    https://climate.nasa.gov/faq/<br>
                    https://www.theverge.com/2017/8/23/16194366/exxon-mobil-knew-climate-change-misinformation-harvard-study<br>
                    https://www.scientificamerican.com/article/exxon-knew-about-climate-change-almost-40-years-ago/<br>
                    https://publicintegrity.org/federal-politics/the-citizens-united-decision-and-why-it-matters/
                </p>
            </div>
        </div>
        <script type="text/javascript" src="scripts/scrolloverflow.min.js"></script>
        <script type="text/javascript" src="scripts/fullpage.js"></script>
        <script type="text/javascript" src="scripts/script.js"></script>
</body>

</html>